/*FUENTES*/
/*ESTILOS*/
footer {
  background: black;
  padding: 5rem 0;
  text-align: center;
  color: #fff;
}
footer .bottom-redes {
  margin-top: 2.25rem;
}
footer .bottom-redes a {
  padding: 0 0.5625rem;
  color: #fff;
  transition: all 0.3s ease;
}
footer .bottom-redes a:hover {
  color: red;
}
.main {
  margin-top: 5.875rem;
  /*DJPANAS*/
}
.main .discord-embed {
  margin: 2rem 0;
}
.main .discord-embed .container {
  position: relative;
  text-align: center;
}
.main .discord-embed .container .container-iframe {
  margin: 2rem 1rem;
}
.main .discord-embed .container .container-iframe iframe {
  width: 100%;
  margin-bottom: 3rem;
}
.main .discord-bot {
  color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 30rem;
  padding: 5.626rem 15vw;
  width: 100%;
  background: #141618;
}
.main .discord-bot .titulo-seccion h2 {
  color: #fff;
  padding-bottom: 3rem;
}
.main .discord-bot .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.main .discord-bot .container .col.izq {
  width: 45%;
  border-right: 1px solid #fe624c;
  display: flex;
  align-items: center;
  padding-right: 5%;
}
.main .discord-bot .container .col.izq img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 5px;
  max-width: 350px;
}
.main .discord-bot .container .col.izq img:hover {
  animation-name: hoverPop;
  animation-duration: 0.4s;
}
.main .discord-bot .container .col.der {
  width: 55%;
  padding-left: 5%;
}
.main .discord-bot .container .col.der .texto p {
  margin: 3rem auto;
  font-size: clamp(1rem, 1rem, 1.75rem);
  color: #fff;
  text-align: justify;
  text-justify: inter-word;
}
.main .discord-bot .funciones {
  color: black;
  width: 100%;
  margin: 5rem 0;
}
.main .discord-bot .funciones .cards {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: space-evenly;
  align-items: center;
}
.main .discord-bot .funciones .cards .card .face2 .content.multi-3 {
  column-count: 3;
  column-gap: 10px;
}
.main .discord-bot .funciones .cards .card .face2 .content.multi-2 {
  column-count: 2;
  column-gap: 30px;
}
.main .discord-bot .funciones .cards .card {
  position: relative;
  cursor: pointer;
}
.main .discord-bot .funciones .cards .card .face {
  width: 17rem;
  height: 10rem;
  transition: 0.5s;
}
.main .discord-bot .funciones .cards .card .face.face1 {
  position: relative;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(3.75rem);
}
.main .discord-bot .funciones .cards .card:hover .face.face1 {
  background: #da351f;
  transform: translateY(0);
}
.main .discord-bot .funciones .cards .card .face.face1 .content {
  text-align: center;
  opacity: 0.2;
  transition: 0.5s;
}
.main .discord-bot .funciones .cards .card:hover .face.face1 .content {
  opacity: 1;
}
.main .discord-bot .funciones .cards .card .face.face1 .content img {
  max-width: 6.5rem;
}
.main .discord-bot .funciones .cards .card .face.face1 .content h3 {
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: 1.2em;
}
.main .discord-bot .funciones .cards .card .face.face2 {
  position: relative;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  transform: translateY(-100px);
}
.main .discord-bot .funciones .cards .card:hover .face.face2 {
  transform: translateY(0);
}
.main .discord-bot .funciones .cards .card .face.face2 .content a,
.main .discord-bot .funciones .cards .card .face.face2 .content li {
  text-align: center;
  list-style-type: none;
  text-decoration: none;
  font-weight: 500;
  color: #333;
  font-size: clamp(0.35rem, 0.8rem, 1.1rem);
}
.main .discord-bot .funciones .cards .card .face.face2 .content a:hover,
.main .discord-bot .funciones .cards .card .face.face2 .content li:hover {
  background: #fe624c;
  color: #fff;
  font-size: clamp(0.4rem, 0.8rem, 1.2rem);
  transition: 0.5s;
}
.main .discord-bot .curva-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
.main .discord-bot .curva-1 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 50px;
}
.main .discord-bot .curva-1 .shape-fill {
  fill: #fff;
}
.main .discord-bot .curva-1 .shape-fill.darkmode {
  fill: #28292c;
}
.main .djpanas {
  padding: 5.626rem 0;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 6rem;
}
.main .djpanas .container {
  text-align: center;
  justify-content: center;
}
.main .djpanas .container .youtubePlayer {
  align-items: center;
  display: flex;
  justify-content: center;
}
.main .djpanas .container .youtubePlayer iframe {
  width: 32rem;
  height: 18rem;
}
.main .djpanas .container .youtubePlayer iframe:hover {
  animation-name: hoverPop;
  animation-duration: 0.4s;
}
.main .djpanas .curva-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
.main .djpanas .curva-2 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 50px;
  transform: rotateY(180deg);
}
.main .djpanas .curva-2 .shape-fill {
  fill: #141618;
}
@keyframes hoverPop {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}
@media all and (max-width: 1350px) {
  .main .discord-bot .funciones .cards {
    gap: 1.75rem;
  }
}
@media all and (max-width: 950px) {
  .main .discord-bot .container .col.izq {
    width: 100%;
    border-right: none;
    border-bottom: none;
    text-align: center;
    display: block;
    padding: 0;
    margin-bottom: 2.25rem;
  }
  .main .discord-bot .funciones .cards {
    gap: 0;
    flex-direction: column;
    width: 100%;
  }
  .main .discord-bot .funciones .cards .card {
    width: 80%;
  }
  .main .discord-bot .funciones .cards .card .face {
    width: 100%;
  }
  .main .discord-bot .container .col.der {
    width: 100%;
    padding: 0;
    text-align: justify;
  }
}
@media all and (max-width: 800px) {
  footer .bottom-redes {
    margin-top: 1.25rem;
  }
  footer .bottom-redes a {
    padding: 0 0.5625rem;
    color: #fff;
    transition: all 0.3s ease;
  }
  footer .bottom-redes a:hover {
    color: red;
  }
}
@media all and (max-width: 350px) {
  .main .discord-bot .funciones .cards .card .face.face2 .content {
    column-count: 1;
  }
  .main .discord-bot .funciones .cards .card .face.face2 .content li {
    font-size: 0.7rem;
  }
}
