/*COLORES*/
/*FUENTES*/
/*ESTILOS*/
:root {
  --step--4: clamp(0.2469rem, 0.2265rem, 0.3013rem);
  --step--3: clamp(0.3619rem, 0.3739rem, 0.3706rem);
  --step--2: clamp(0.4338rem, 0.6013rem, 0.5556rem);
  --step--1: clamp(0.5206rem, 0.9503rem, 0.8331rem);
  --step-0: clamp(0.625rem, 1.4844rem, 1.25rem);
  --step-1: clamp(0.75rem, 2.2969rem, 1.875rem);
  --step-2: clamp(0.9rem, 3.5297rem, 2.8125rem);
  --step-3: clamp(1.08rem, 5.3958rem, 4.2188rem);
  --step-4: clamp(1.2963rem, 8.2151rem, 6.3281rem);
  --step-5: clamp(1.555rem, 12.4691rem, 9.4925rem);
}
main {
  margin-top: 5rem;
}
main .discord-embed {
  margin: 2rem 0;
}
main .discord-embed .container {
  position: relative;
  text-align: center;
}
main .discord-embed .container .container-iframe {
  margin: 2rem 1rem;
}
main .discord-embed .container .container-iframe iframe {
  width: 100%;
  margin-bottom: 3rem;
}
main .discord-bot {
  color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 30rem;
  padding: 5.626rem 10vw;
  width: 100%;
  background: #141618;
}
main .discord-bot.darkmode .container .col.izq .fondo {
  background-image: url("../img/panas/Toffu fondo noche.png");
}
main .discord-bot .titulo-seccion h2 {
  color: #fff;
  padding-bottom: 3rem;
}
main .discord-bot .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  container-type: inline-size;
}
main .discord-bot .container .col.izq {
  width: 45%;
  border-right: 1px solid #fe624c;
  position: relative;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 1rem;
}
main .discord-bot .container .col.izq .fondo {
  background-size: cover;
  overflow: hidden;
  position: relative;
  background-image: url("../img/panas/Toffu fondo dia.png");
}
main .discord-bot .container .col.izq .fondo img {
  width: 100%;
  height: 100%;
  max-width: 350px;
  transition: all 1s ease;
}
main .discord-bot .container .col.izq .fondo img:hover {
  animation-name: hoverPopToffu;
  animation-duration: 0.3s;
}
main .discord-bot .container .col.der {
  width: 55%;
  padding-left: 5%;
  container-type: inline-size;
}
main .discord-bot .container .col.der .texto p {
  margin: 4cqh auto;
  font-size: 4cqi;
  color: #fff;
  text-align: justify;
  text-justify: inter-word;
}
main .discord-bot .funciones {
  color: black;
  width: 100%;
  margin: 3rem 0;
}
main .discord-bot .funciones .cards {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-evenly;
  align-items: center;
}
main .discord-bot .funciones .cards {
  container-type: inline-size;
}
main .discord-bot .funciones .cards .card .face2 .content.multi-3 {
  column-count: 3;
  column-gap: 1cqw;
}
main .discord-bot .funciones .cards .card .face2 .content.multi-2 {
  column-count: 2;
  column-gap: 3cqw;
}
main .discord-bot .funciones .cards .card {
  position: relative;
  cursor: pointer;
}
main .discord-bot .funciones .cards .card .face {
  width: 17rem;
  height: 10rem;
  transition: 0.5s;
}
main .discord-bot .funciones .cards .card .face.face1 {
  position: relative;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(3.75rem);
}
main .discord-bot .funciones .cards .card:hover .face.face1 {
  background: #da351f;
  transform: translateY(0);
}
main .discord-bot .funciones .cards .card .face.face1 .content {
  text-align: center;
  opacity: 0.2;
  transition: 0.5s;
}
main .discord-bot .funciones .cards .card:hover .face.face1 .content {
  opacity: 1;
}
main .discord-bot .funciones .cards .card .face.face1 .content img {
  max-width: 6.5rem;
}
main .discord-bot .funciones .cards .card .face.face1 .content h3 {
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: var(--step-0);
}
main .discord-bot .funciones .cards .card .face.face2 {
  position: relative;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  transform: translateY(-100px);
}
main .discord-bot .funciones .cards .card:hover .face.face2 {
  transform: translateY(0);
}
main .discord-bot .funciones .cards .card .face.face2 .content a,
main .discord-bot .funciones .cards .card .face.face2 .content li {
  text-align: center;
  list-style-type: none;
  text-decoration: none;
  font-weight: 500;
  color: #333;
  font-size: var(--step--1);
}
main .discord-bot .funciones .cards .card .face.face2 .content a:hover,
main .discord-bot .funciones .cards .card .face.face2 .content li:hover {
  background: #fe624c;
  color: #fff;
  font-size: calc(var(--step--1)+0.5rem);
  transition: 0.5s;
}
main .discord-bot .curva-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
main .discord-bot .curva-1 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 50px;
}
main .discord-bot .curva-1 .shape-fill {
  fill: #fbfdfe;
}
main .discord-bot .curva-1 .shape-fill.darkmode {
  fill: #0c0c0c;
}
main .djpanas {
  padding: 5rem 0;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 6rem;
}
main .djpanas .container {
  text-align: center;
  justify-content: center;
}
main .djpanas .curva-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
main .djpanas .curva-2 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 50px;
  transform: rotateY(180deg);
}
main .djpanas .curva-2 .shape-fill {
  fill: #141618;
}
@keyframes hoverPopToffu {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}
@media all and (max-width: 950px) {
  main .discord-bot .container .col.der {
    width: 100%;
    padding: 0;
    text-align: justify;
  }
  main .discord-bot .container .col.izq {
    width: 100%;
    border-right: none;
    border-bottom: none;
    text-align: center;
    display: block;
    padding: 0;
    margin-bottom: 2.25rem;
  }
  main .discord-bot .funciones .cards {
    gap: 0;
    flex-direction: column;
    width: 100%;
  }
  main .discord-bot .funciones .cards .card {
    width: 80%;
  }
  main .discord-bot .funciones .cards .card .face {
    width: 100%;
  }
}
@media all and (max-width: 350px) {
  main .discord-bot .funciones .cards .card .face.face2 .content {
    column-count: 1;
  }
}
