@negro-custom: #141618;	
@blanco: #fff;
@texto-oscuro : #303133;
@texto-claro : #777;
@rojo: darkred;
@gris-claro: #DFDFDE;
@toffu_color: #da351f;
@toffu_embed_color: #fe624c;

/*FUENTES*/
@fuente-principal: 'Fredoka One', sans-serif;
@fuente-secundaria: 'Poppins', sans-serif;
@fuente-parrafo: 'Playfair Display', serif;
@fuente-titulo: 'Concert One', sans-serif;

@light: #d8dbe0;
@dark: #28292c;

@toffu_img: '../img/panas/bot_toffu_nobg.png';

/*ESTILOS*/

footer{
	background: black;
	padding: 5rem 0;
	text-align: center;
	color: @blanco;

	.bottom-redes{
		margin-top: 2.25rem;
		a{
			padding: 0 0.5625rem;
			color: @blanco;
			transition: all .3s ease;

			&:hover{
				color: red;
			}
		}
	}
}

.main{
	margin-top: 5.875rem;
	.discord-embed{
		margin: 2rem 0;
		.container{
			position: relative;
			text-align: center;

			.container-iframe{
				margin: 2rem 1rem;
				iframe{
					width: 100%;
					margin-bottom: 3rem;
				}
			}
		}
	
	}
	
	.discord-bot{
		color: @blanco;
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		min-height: 30rem;
		padding: 5.626rem 15vw;
		width: 100%;
		background: @negro-custom;
		
		.titulo-seccion h2{
			color:@blanco;
			padding-bottom: 3rem;
		}
		
		.container{
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;

			.col.izq{
				width: 45%;
				border-right: 1px solid @toffu_embed_color;
				display: flex;
				align-items:center;
				padding-right: 5%;
				img{
					width: 100%;
					height: 100%;
					object-fit: contain;
					border-radius: 5px;
					max-width: 350px;
				}
			}
			.col.der{
				width: 55%;
				padding-left: 5%;
				.texto{
					p{
						margin: 3rem auto;
						font-size: clamp(1rem, 1rem, 1.75rem);
						color: @blanco;
						text-align: justify;
						text-justify: inter-word;
					}
				}
			}
		}
		.funciones{
			color: black;
			width: 100%;
			margin: 5rem 0;
			.cards{
				width: 100%;
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				gap: 3rem;
				justify-content: space-evenly;
				align-items: center;
			}

			.cards {
				.card .face2 .content.multi-3{
					column-count: 3;
					column-gap: 10px;
				}

				.card .face2 .content.multi-2{
					column-count: 2;
					column-gap: 30px;
				}
	
				.card{
					position: relative;
					cursor: pointer;
				}
				
				.card .face{
					width: 17rem;
					height: 10rem;
					transition: 0.5s;
				}
				
				.card .face.face1{
					position: relative;
					background: #333;
					display: flex;
					justify-content: center;
					align-items: center;
					z-index: 1;
					transform: translateY(3.75rem);
				}
				
				.card:hover .face.face1{
					background: @toffu_color;
					transform: translateY(0);
				}
				
				.card .face.face1 .content{
					text-align: center;
					opacity: 0.2;
					transition: 0.5s;
				}
				
				.card:hover .face.face1 .content{
					opacity: 1;
				}
				
				.card .face.face1 .content img{
					max-width: 6.5rem;
				}
				
				.card .face.face1 .content h3{
					padding: 0;
					color: #fff;
					text-align: center;
					font-size: 1.2em;
				}
				
				.card .face.face2{
					position: relative;
					background: #fff;
					display: flex;
					justify-content: center;
					align-items: center;
					padding: 2rem;
					box-sizing: border-box;
					box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
					transform: translateY(-100px);
				}
				
				.card:hover .face.face2{
					transform: translateY(0);
				}
				
				.card .face.face2 .content a,
				.card .face.face2 .content li{
					text-align: center;
					list-style-type: none;
					text-decoration: none;
					font-weight: 500;
					color: #333;
					font-size: clamp(0.35rem, 0.8rem, 1.1rem);
				}
				
				.card .face.face2 .content a:hover,
				.card .face.face2 .content li:hover{
					background: @toffu_embed_color;
					color: #fff;
					font-size: clamp(0.4rem, 0.8rem, 1.2rem);
					transition: 0.5s;
				}
			}
		}
		.curva-1 {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			overflow: hidden;
			line-height: 0;
		}
		.curva-1 svg {
			position: relative;
			display: block;
			width: calc(100% + 1.3px);
			height: 50px;
		}
		.curva-1 .shape-fill {
			&.darkmode{
				fill: @dark;
			}
			fill: @blanco;
		}
	}
	/*DJPANAS*/
	.djpanas{
		padding: 5.626rem 0;
		width: 100%;
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		min-height:6rem;
		.container{
			text-align: center;
			justify-content: center;

			.youtubePlayer{
				align-items: center;
				display: flex;
				justify-content: center;
				iframe{
					width: 32rem;
					height: 18rem;
					&:hover{
						animation-name: hoverPop;
						animation-duration: .4s;
					}
				}

			}
		}

		.curva-2 {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			overflow: hidden;
			line-height: 0;
		}
		.curva-2 svg {
			position: relative;
			display: block;
			width: calc(100% + 1.3px);
			height: 50px;
			transform: rotateY(180deg);
		}
		.curva-2 .shape-fill {
			fill: @negro-custom;
		}
	}
}

@media all and (max-width: 1350px){
	.main .discord-bot .funciones .cards{
		gap: 1.75rem;
	}
}

@media all and (max-width: 950px){
	.main .discord-bot .container .col.izq{
		width: 100%;
		border-right: none;
		border-bottom: none;
		text-align: center;
		display: block;
		padding: 0;
		margin-bottom: 2.25rem;
	}
	
	.main .discord-bot .funciones .cards {
		gap: 0;
		flex-direction: column;
		width: 100%;
		.card{
			width: 80%;
			.face{
				width: 100%;
			}
		}
	}
	.main .discord-bot .container .col.der{
		width: 100%;
		padding: 0;
		text-align: justify;
	}
}

@media all and (max-width: 800px){

	footer{
		.bottom-redes{
			margin-top: 1.25rem;
			a{
				padding: 0 0.5625rem;
				color: @blanco;
				transition: all .3s ease;

				&:hover{
					color: red;
				}
			}
		}
	}
}

@media all and (max-width: 350px){

	.main .discord-bot .funciones .cards .card .face.face2 .content{
		column-count: 1;	
	}
	.main .discord-bot .funciones .cards .card .face.face2 .content li{
		font-size: 0.7rem;	
	}
}
