/*Variables*/
/*COLORES*/
/*FUENTES*/
/*PORTADA*/
/*JUEGOS*/
/*DARK MODE SWITCH*/
/*MAIN*/
.main {
  margin-top: 5.875rem;
  /*portada*/
  /*Nosotros*/
  /*Juegos*/
  /*Panaservers*/
  /*secciones*/
  /*Contacto*/
}
.main .portada {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.main .portada .col {
  width: 50%;
  background: #141618;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
}
.main .portada .col .foto {
  background-size: cover;
  background-position: center;
  width: 50%;
}
.main .portada .col .foto.izq {
  background-image: url("../img/extras/PORTADA_1.jpg");
  background-position: left;
}
.main .portada .col .foto.der {
  background-image: url("../img/extras/PORTADA_2.png");
  opacity: 0.8;
}
.main .portada .col .foto .overlay {
  opacity: 0;
  width: 100%;
  height: 100%;
  background: rgba(20, 22, 24, 0.4);
  position: relative;
  cursor: pointer;
  -transition: all 0.3s ease;
}
.main .portada .col .foto .overlay:hover {
  opacity: 1;
}
.main .portada .col .foto .overlay i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5625rem;
}
.main .portada .col .texto {
  width: 50%;
  padding: 3.375rem;
}
.main .portada .col .texto h2 {
  font-size: 1.8125rem;
  font-weight: 400;
  line-height: 2.6875rem;
  margin-bottom: 1.125rem;
}
.main .portada .col .texto p {
  font-size: 0.9375rem;
  line-height: 1.75rem;
}
.main .portada .col .foto-full {
  width: 100%;
  min-height: 15.25rem;
  background-size: cover;
  background-position: center;
}
.main .portada .col .foto-full.izq {
  background-image: url("../img/extras/PORTADA_4.jpg");
  opacity: 0.8;
}
.main .portada .col .foto-full.der {
  background-image: url("../img/extras/PORTADA_3.png");
}
.main .portada .col .foto-full .overlay {
  opacity: 0;
  width: 100%;
  height: 100%;
  background: rgba(20, 22, 24, 0.4);
  position: relative;
  cursor: pointer;
  -transition: all 0.3s ease;
}
.main .portada .col .foto-full .overlay:hover {
  opacity: 1;
}
.main .portada .col .foto-full .overlay i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5625rem;
}
.main .nosotros {
  padding: 5.626rem 0;
}
.main .nosotros .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.main .nosotros .container .col.izq {
  width: 30%;
  border-right: 1px solid #DFDFDE;
  display: flex;
  align-items: center;
  padding-right: 5%;
}
.main .nosotros .container .col.der {
  width: 70%;
  padding-left: 5%;
}
.main .nosotros .container .col.der .texto p {
  font-size: 1.125rem;
  line-height: 1.75;
  color: #777;
  text-align: justify;
  text-justify: inter-word;
}
.main .juegos {
  background: #141618;
  padding: 5.626rem 0;
  position: relative;
}
.main .juegos .container {
  display: flex;
  align-items: center;
}
.main .juegos .container .col {
  width: 35%;
}
.main .juegos .container .col.izq {
  width: 65%;
  box-shadow: 0px 9px 32px -1px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
.main .juegos .container .col .titulo-seccion {
  padding: 3.125rem;
  padding-right: 0;
}
.main .juegos .container .col .titulo-seccion h2 {
  color: #fff;
}
.main .juegos .container .col .titulo-seccion p {
  text-align: justify;
  color: rgba(255, 255, 255, 0.6);
  padding-bottom: 1.125rem;
  font-size: 1.125rem;
  line-height: 1.175;
}
.main .juegos .container .col .titulo-seccion p:last-child {
  padding-bottom: 0;
}
.main .juegos .container .col .slider {
  width: 1200%;
  display: flex;
}
.main .juegos .container .col .slider .slide {
  width: 100%;
  min-height: 400px;
  background-size: cover;
  background-position: center;
}
.main .juegos .container .col .slider .slide.juego1 {
  background-image: url("../img/juegos/juego_1.png");
}
.main .juegos .container .col .slider .slide.juego2 {
  background-image: url("../img/juegos/juego_2.png");
}
.main .juegos .container .col .slider .slide.juego3 {
  background-image: url("../img/juegos/juego_3.png");
}
.main .juegos .container .col .slider .slide.juego4 {
  background-image: url("../img/juegos/juego_4.png");
}
.main .juegos .container .col .slider .slide.juego5 {
  background-image: url("../img/juegos/juego_5.png");
}
.main .juegos .container .col .slider .slide.juego6 {
  background-image: url("../img/juegos/juego_6.png");
}
.main .juegos .container .col .slider .slide.juego7 {
  background-image: url("../img/juegos/juego_7.png");
}
.main .juegos .container .col .slider .slide.juego8 {
  background-image: url("../img/juegos/juego_8.png");
}
.main .juegos .container .col .slider .slide.juego9 {
  background-image: url("../img/juegos/juego_9.png");
}
.main .juegos .container .col .slider .slide.juego10 {
  background-image: url("../img/juegos/juego_10.png");
}
.main .juegos .container .col .slider .slide.juego11 {
  background-image: url("../img/juegos/juego_11.png");
}
.main .juegos .container .col .slider .slide.juego12 {
  background-image: url("../img/juegos/juego_12.png");
}
.main .panaserver {
  padding: 5.625rem 0;
}
.main .panaserver.darkmode .container .container-menu .encabezado li a:hover {
  color: #bd1e1e;
}
.main .panaserver.darkmode .container .container-menu .encabezado li.active a {
  color: #bd1e1e;
  border-bottom: 3px solid #bd1e1e;
}
.main .panaserver.darkmode .container .container-menu .contenido .boton_apoyo a {
  background: #DFDFDE;
}
.main .panaserver .container .container-menu {
  margin-top: 2.5rem;
}
.main .panaserver .container .container-menu .encabezado {
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.1em;
  text-transform: upppercase;
  list-style: none;
  display: flex;
  justify-content: center;
}
.main .panaserver .container .container-menu .encabezado li a {
  font-size: 1.25rem;
  padding: 0 1.4375rem 1.125rem 1.4375rem;
  display: block;
  cursor: pointer;
  transition: all 0.3s ease;
  border-bottom: 2px solid transparent;
}
.main .panaserver .container .container-menu .encabezado li a:hover {
  color: darkred;
}
.main .panaserver .container .container-menu .encabezado li.active a {
  color: darkred;
  border-bottom: 3px solid darkred;
}
.main .panaserver .container .container-menu .contenido {
  max-width: 50rem;
  margin: 0 auto;
  margin-top: 2.5rem;
  border: 6px double #DFDFDE;
  padding: 0 1.5rem;
}
.main .panaserver .container .container-menu .contenido > div {
  display: none;
  transition: all 0.3s ease;
}
.main .panaserver .container .container-menu .contenido .active {
  display: block;
}
.main .panaserver .container .container-menu .contenido .item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 2.25rem 0;
  border-bottom: 1px solid #DFDFDE;
}
.main .panaserver .container .container-menu .contenido .item .col.izq {
  width: 55%;
}
.main .panaserver .container .container-menu .contenido .item .col.izq h3 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 0.625rem;
}
.main .panaserver .container .container-menu .contenido .item .col.izq p {
  font-size: 1rem;
  color: #777;
}
.main .panaserver .container .container-menu .contenido .item .col.der {
  width: 45%;
  text-align: center;
  font-size: 1.25rem;
}
.main .panaserver .container .container-menu .contenido .boton_apoyo {
  text-align: center;
  padding: 2rem;
}
.main .panaserver .container .container-menu .contenido .boton_apoyo a {
  position: relative;
  background: #444;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  font-size: 0.9rem;
  padding: 1rem 1rem;
  transition: 0.3s;
}
.main .panaserver .container .container-menu .contenido .boton_apoyo a:hover {
  letter-spacing: 0.1rem;
  padding: 1rem 2rem;
  background: var(--clr);
  color: var(--clr);
  animation: box 3s infinite;
}
.main .panaserver .container .container-menu .contenido .boton_apoyo a::before {
  content: "";
  position: absolute;
  inset: 2px;
  background: #272822;
}
.main .panaserver .container .container-menu .contenido .boton_apoyo a span {
  position: relative;
  z-index: 2;
  font-size: 100%;
}
.main .panaserver .container .container-menu .contenido .boton_apoyo a i {
  position: absolute;
  inset: 0;
  display: block;
}
.main .panaserver .container .container-menu .contenido .boton_apoyo a i::before {
  content: "";
  position: absolute;
  width: 1rem;
  height: 0.2rem;
  left: 80%;
  top: -0.1rem;
  border: 2px solid var(--clr);
  background: #272822;
  transition: 0.2s;
}
.main .panaserver .container .container-menu .contenido .boton_apoyo a:hover i::before {
  width: 1rem;
  left: 20%;
  animation: move 3s infinite;
}
.main .panaserver .container .container-menu .contenido .boton_apoyo a i::after {
  content: "";
  position: absolute;
  width: 1rem;
  height: 0.3rem;
  left: 20%;
  bottom: -0.3rem;
  border: 0.1rem solid var(--clr);
  background: #272822;
  transition: 0.2s;
}
.main .panaserver .container .container-menu .contenido .boton_apoyo a:hover i::after {
  width: 2rem;
  left: 80%;
  animation: move 3s infinite;
}
@keyframes move {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes box {
  0% {
    box-shadow: #27272c;
  }
  50% {
    box-shadow: 0 0 25px var(--clr);
  }
  100% {
    box-shadow: #27272c;
  }
}
.main .secciones {
  background: #141618;
  padding: 5.626rem 0;
  width: 100%;
  position: relative;
}
.main .secciones .titulo-seccion h2 {
  text-align: center;
  color: #fff;
}
.main .secciones .container {
  margin-top: 2.5rem;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.main .secciones .container .container_card {
  margin: 1rem;
}
.main .secciones .container .container_card:first-child {
  margin-left: 0rem;
}
.main .secciones .container .container_card#card_1 a {
  background: #2196f3;
}
.main .secciones .container .container_card#card_2 a {
  background: #23c186;
}
.main .secciones .container .container_card#card_3 a {
  background: #FFC23C;
}
.main .secciones .container .container_card#card_4 a {
  background: #e91e63;
}
.main .secciones .container .container_card .card {
  position: relative;
  width: 16.5rem;
  height: 22rem;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2), inset -5px -5px 15px rgba(104, 104, 104, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(104, 104, 104, 0.1);
  border-radius: 15px;
  transition: 0.5s;
}
.main .secciones .container .container_card .card .box {
  position: absolute;
  top: 1rem;
  left: 1rem;
  right: 1rem;
  bottom: 1rem;
  background: #2a2b2f;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.5s;
}
.main .secciones .container .container_card .card .box:hover {
  transform: translateY(-2rem);
}
.main .secciones .container .container_card .card .box:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.03);
}
.main .secciones .container .container_card .card .box .content {
  padding: 2rem;
  text-align: center;
}
.main .secciones .container .container_card .card .box .content h2 {
  position: absolute;
  top: -2rem;
  right: 1.5rem;
  font-size: 8rem;
  color: rgba(255, 255, 255, 0.1);
}
.main .secciones .container .container_card .card .box .content h3 {
  font-size: 1.4rem;
  color: #fff;
  z-index: 1;
  transition: 0.5s;
  margin-bottom: 0.5rem;
}
.main .secciones .container .container_card .card .box .content p {
  font-family: 'Poppins', sans-serif;
  font-size: 0.9rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.9);
  z-index: 1;
  transition: 0.5s;
}
.main .secciones .container .container_card .card .box .content a {
  position: relative;
  display: inline-block;
  padding: 0.3rem 1rem;
  background: black;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  margin-top: 1rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}
.main .secciones .container .container_card .card .box .content a:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
  background: #fff;
  color: #000;
}
.main .secciones .curva-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
.main .secciones .curva-1 svg {
  position: relative;
  display: block;
  width: calc(107% + 1.3px);
  height: 75px;
  transform: rotateY(180deg);
}
.main .secciones .curva-1 .shape-fill {
  fill: #fff;
}
.main .secciones .curva-1 .shape-fill.darkmode {
  fill: #28292c;
}
.main .contacto.darkmode .datos {
  background-image: url("../img/fondos/FONDO_PARALLAX_2.jpg");
}
.main .contacto.darkmode .datos .container .blurb h3 {
  color: black;
}
.main .contacto.darkmode .datos .container .blurb p {
  color: black;
}
.main .contacto.darkmode .datos .container .blurb a {
  color: black;
}
.main .contacto .datos {
  padding: 5.625rem 0 11.875rem 0;
  position: relative;
  background-image: url("../img/fondos/FONDO_PARALLAX_1.jpg");
  background-size: cover;
  background-repeat: repeat-y;
}
.main .contacto .datos .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(20, 22, 24, 0.3);
  top: 0;
  z-index: 1;
}
.main .contacto .datos .container {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.main .contacto .datos .blurb {
  background: #fff;
  border: 6px double #DFDFDE;
  padding: 2.25rem;
  text-align: center;
  width: 25%;
}
.main .contacto .datos h3 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.6875rem;
  margin-bottom: 1.125rem;
  border-bottom: 1px solid #DFDFDE;
}
.main .contacto .datos p {
  font-size: 1rem;
  color: #777;
}
/*KEYFRAMES*/
@keyframes hoverPop {
  0%,
  100% {
    transform: scale(1);
  }
  33% {
    transform: scale(1.02);
  }
  66% {
    transform: scale(0.95);
  }
}
/*MEDIA QUERYS*/
@media all and (max-width: 1500px) {
  .main .portada .texto {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }
  .main .secciones .container {
    flex-wrap: wrap;
  }
  .main .secciones .container .container_card {
    padding: 0.75rem;
    margin: 0 auto;
  }
  .main .secciones .container .container_card:first-child {
    margin: 0 auto;
  }
}
@media all and (max-width: 1199px) {
  .main .portada .col .foto {
    display: none;
  }
  .main .portada .col .texto {
    width: 100%;
  }
}
@media all and (max-width: 980px) {
  .main .panaserver .container .container-menu .contenido .boton_apoyo a {
    padding: 0.9rem;
  }
  .main .panaserver .container .container-menu .contenido .boton_apoyo a span {
    font-size: 80%;
  }
  .main .nosotros .container .col.izq {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #DFDFDE;
    text-align: center;
    display: block;
    padding: 0;
    margin-bottom: 2.25rem;
  }
  .main .nosotros .container .col.der {
    width: 100%;
    padding: 0;
    text-align: justify;
  }
  .main .contacto .datos .container .blurb {
    width: 100%;
    max-width: 40.625rem;
    margin: 0 auto;
    margin-bottom: 2.25rem;
  }
  .main .contacto .datos .container .blurb:last-child {
    margin-bottom: 0;
  }
  .main .juegos .container {
    display: block;
  }
  .main .juegos .container .col {
    width: 100%;
  }
  .main .juegos .container .col.izq {
    width: 100%;
  }
  .main .juegos .container .col .titulo-seccion {
    padding: 0;
  }
  .main .secciones .container .container_card .card .box .content a {
    padding: 0.5rem 3rem;
  }
}
@media all and (max-width: 800px) {
  .main .panaserver .container .container-menu .contenido .boton_apoyo a {
    padding: 0.9rem;
  }
  .main .panaserver .container .container-menu .contenido .boton_apoyo a span {
    font-size: 80%;
  }
  .main .portada .col {
    width: 100%;
  }
  .main .portada .col .foto-full.izq {
    display: none;
  }
  .main .portada .col .texto h2 {
    text-align: center;
  }
  .main .portada .col .texto p {
    text-align: justify;
  }
  .main .juegos .container .col .slider {
    height: 20rem;
  }
  .main .juegos .container .col .slider .slide {
    min-height: auto;
  }
}
@media all and (max-width: 580px) {
  .titulo-seccion h2 {
    font-size: 2.5rem;
  }
  .main .nosotros .container .col.der .texto p {
    font-size: 1rem;
  }
  .main .panaserver .container .container-menu .contenido .item .col.izq {
    width: 100%;
    text-align: center;
    margin-bottom: 0.625rem;
  }
  .main .panaserver .container .container-menu .contenido .item .col.der {
    width: 100%;
  }
  .main .contacto .formulario .formulario_contacto input[type="submit"] {
    width: 100%;
  }
  .main .djpanas .container .youtubePlayer iframe {
    width: 27.2rem;
    height: 15.3rem;
  }
  .main .portada .col .foto-full.der {
    height: 10rem;
  }
  .main .juegos .container .col .slider {
    height: 15rem;
  }
  .main .juegos .container .col .slider .slide {
    min-height: auto;
  }
}
