/*COLORES*/
/*FUENTES*/
:root {
  --step--4: clamp(0.2469rem, 0.2265rem, 0.3013rem);
  --step--3: clamp(0.3619rem, 0.3739rem, 0.3706rem);
  --step--2: clamp(0.4338rem, 0.6013rem, 0.5556rem);
  --step--1: clamp(0.5206rem, 0.9503rem, 0.8331rem);
  --step-0: clamp(0.625rem, 1.4844rem, 1.25rem);
  --step-1: clamp(0.75rem, 2.2969rem, 1.875rem);
  --step-2: clamp(0.9rem, 3.5297rem, 2.8125rem);
  --step-3: clamp(1.08rem, 5.3958rem, 4.2188rem);
  --step-4: clamp(1.2963rem, 8.2151rem, 6.3281rem);
  --step-5: clamp(1.555rem, 12.4691rem, 9.4925rem);
}
/*MAIN*/
main {
  z-index: 1;
}
.parallax {
  margin-top: 5rem;
  position: relative;
  z-index: 0;
  display: grid;
  grid-template-areas: "stack";
}
.parallax .parallax_fondo {
  z-index: 1;
  --parallax-speed: 0;
  object-fit: cover;
}
.parallax .parallax_edificios_atras {
  z-index: 4;
  --parallax-speed: 5;
}
.parallax .parallax_edificios_adelante {
  z-index: 5;
  --parallax-speed: 10;
}
.parallax .parallax_rayos {
  z-index: 3;
  --parallax-speed: -2;
}
.parallax .parallax_puntos {
  z-index: 2;
  --parallax-speed: -30;
}
.parallax .parallax_luna {
  z-index: 6;
  --parallax-speed: 17.5;
}
.parallax .parallax_barra_arriba {
  z-index: 7;
  --parallax-speed: 10;
  display: none;
}
.parallax .parallax_barra_bajo {
  z-index: 998;
  align-self: end;
}
.parallax .parallax_panas {
  z-index: 7;
  position: absolute;
  top: 2.5rem;
  --parallax-speed: 21;
  transform: scale(0.9);
}
.parallax > * {
  grid-area: stack;
  animation: parallax linear;
  animation-timeline: scroll();
}
.parallax img {
  width: 100%;
}
@keyframes parallax {
  to {
    transform: translateY(calc(var(--parallax-speed) * 100px));
  }
}
main > section {
  background: #fbfdfe;
  z-index: 1;
  position: relative;
}
main > section.darkmode {
  background: #0c0c0c;
}
main .nosotros {
  padding: 5.626rem 0;
  position: relative;
}
main .nosotros.darkmode .container .col.izq p,
main .nosotros.darkmode .container .col.der .texto p {
  color: #eff6fb;
}
main .nosotros.darkmode .container .titulo-seccion h2 {
  color: darkred;
}
main .nosotros .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
main .nosotros .container .col.izq {
  width: 30%;
  border-right: 1px solid #DFDFDE;
  display: flex;
  align-items: center;
  padding-right: 5%;
}
main .nosotros .container .col.izq .titulo-seccion h2 {
  color: #bd1e1e;
  font-size: var(--step-2);
  transition: all 0.2s ease;
}
main .nosotros .container .col.izq .titulo-seccion h2:hover {
  color: #fff;
}
main .nosotros .container .col.der {
  width: 70%;
  padding-left: 5%;
}
main .nosotros .container .col.der .texto p {
  font-size: var(--step-0);
  line-height: 1.75;
  color: #040b10;
  text-align: justify;
  text-justify: inter-word;
}
main .juegos {
  background: #141618;
  padding: 5.626rem 0;
  position: relative;
}
main .juegos .container {
  display: flex;
  align-items: center;
}
main .juegos .container .col {
  width: 35%;
}
main .juegos .container .col.izq {
  width: 65%;
  box-shadow: 0px 9px 32px -1px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
main .juegos .container .col .titulo-seccion {
  padding: 3.125rem;
  padding-right: 0;
}
main .juegos .container .col .titulo-seccion h2 {
  color: #fff;
  font-size: var(--step-2);
}
main .juegos .container .col .titulo-seccion p {
  text-align: justify;
  color: rgba(255, 255, 255, 0.6);
  padding-bottom: 1.125rem;
  font-size: var(--step-0);
  line-height: 1.175;
}
main .juegos .container .col .titulo-seccion p:last-child {
  padding-bottom: 0;
}
main .juegos .container .col .slider {
  display: flex;
}
main .juegos .container .col .slider .slide {
  width: 100%;
  min-height: 400px;
  background-size: cover;
  background-position: center;
}
main .juegos .container .col .slider .slide .overlay {
  opacity: 0;
  width: 100%;
  height: 100%;
  background: rgba(20, 22, 24, 0.4);
  position: relative;
  cursor: pointer;
  -transition: all 0.3s ease;
}
main .juegos .container .col .slider .slide .overlay:hover {
  opacity: 1;
}
main .juegos .container .col .slider .slide .overlay i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5625rem;
}
main .panaserver {
  padding: 5.625rem 0;
}
main .panaserver.darkmode .container .container-menu .encabezado li a:hover {
  color: #bd1e1e;
}
main .panaserver.darkmode .container .container-menu .encabezado li.active a {
  color: #bd1e1e;
  border-bottom: 3px solid #bd1e1e;
}
main .panaserver.darkmode .container .container-menu .contenido .boton_apoyo a {
  background: #DFDFDE;
}
main .panaserver .container .container-menu {
  margin-top: 2.5rem;
}
main .panaserver .container .container-menu .encabezado {
  font-weight: 600;
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 0.1em;
  text-transform: upppercase;
  list-style: none;
  display: flex;
  justify-content: center;
}
main .panaserver .container .container-menu .encabezado li a {
  font-size: var(--step-0);
  padding: 0 1.4375rem 1.125rem 1.4375rem;
  display: block;
  cursor: pointer;
  transition: all 0.3s ease;
  border-bottom: 2px solid transparent;
}
main .panaserver .container .container-menu .encabezado li a:hover {
  color: darkred;
}
main .panaserver .container .container-menu .encabezado li.active a {
  color: darkred;
  border-bottom: 3px solid darkred;
}
main .panaserver .container .container-menu .contenido {
  max-width: 50rem;
  margin: 0 auto;
  margin-top: 2.5rem;
  border: 6px double #DFDFDE;
  padding: 0 1.5rem;
}
main .panaserver .container .container-menu .contenido > div {
  display: none;
  transition: all 0.3s ease;
}
main .panaserver .container .container-menu .contenido .active {
  display: block;
}
main .panaserver .container .container-menu .contenido .item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 2.25rem 0;
  border-bottom: 1px solid #DFDFDE;
}
main .panaserver .container .container-menu .contenido .item .col.izq {
  width: 55%;
}
main .panaserver .container .container-menu .contenido .item .col.izq h3 {
  font-size: var(--step-0);
  font-weight: 400;
  margin-bottom: 0.625rem;
}
main .panaserver .container .container-menu .contenido .item .col.izq p {
  font-size: var(--step-0);
  color: #777;
}
main .panaserver .container .container-menu .contenido .item .col.der {
  width: 45%;
  text-align: center;
  font-size: var(--step-0);
}
main .panaserver .container .container-menu .contenido .boton_apoyo {
  text-align: center;
  padding: 2rem;
}
main .panaserver .container .container-menu .contenido .boton_apoyo a {
  position: relative;
  background: #444;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  font-size: var(--step--1);
  padding: 1rem 1rem;
  transition: 0.3s;
}
main .panaserver .container .container-menu .contenido .boton_apoyo a:hover {
  letter-spacing: 0.1rem;
  padding: 1rem 2rem;
  background: var(--clr);
  color: var(--clr);
  animation: box 3s infinite;
}
main .panaserver .container .container-menu .contenido .boton_apoyo a::before {
  content: "";
  position: absolute;
  inset: 2px;
  background: #272822;
}
main .panaserver .container .container-menu .contenido .boton_apoyo a span {
  position: relative;
  z-index: 2;
  font-size: 100%;
}
main .panaserver .container .container-menu .contenido .boton_apoyo a i {
  position: absolute;
  inset: 0;
  display: block;
}
main .panaserver .container .container-menu .contenido .boton_apoyo a i::before {
  content: "";
  position: absolute;
  width: 1rem;
  height: 0.2rem;
  left: 80%;
  top: -0.1rem;
  border: 2px solid var(--clr);
  background: #272822;
  transition: 0.2s;
}
main .panaserver .container .container-menu .contenido .boton_apoyo a:hover i::before {
  width: 1rem;
  left: 20%;
  animation: move 3s infinite;
}
main .panaserver .container .container-menu .contenido .boton_apoyo a i::after {
  content: "";
  position: absolute;
  width: 1rem;
  height: 0.3rem;
  left: 20%;
  bottom: -0.3rem;
  border: 0.1rem solid var(--clr);
  background: #272822;
  transition: 0.2s;
}
main .panaserver .container .container-menu .contenido .boton_apoyo a:hover i::after {
  width: 2rem;
  left: 80%;
  animation: move 3s infinite;
}
@keyframes move {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes box {
  0% {
    box-shadow: #27272c;
  }
  50% {
    box-shadow: 0 0 25px var(--clr);
  }
  100% {
    box-shadow: #27272c;
  }
}
main .secciones {
  background: #141618;
  padding: 5.626rem 0;
  width: 100%;
  position: relative;
}
main .secciones .titulo-seccion h2 {
  text-align: center;
  color: #fff;
}
main .secciones .container {
  margin-top: 2.5rem;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
main .secciones .container .container_card {
  margin: 1rem;
}
main .secciones .container .container_card:first-child {
  margin-left: 0rem;
}
main .secciones .container .container_card#card_1 a {
  background: #2196f3;
}
main .secciones .container .container_card#card_2 a {
  background: #23c186;
}
main .secciones .container .container_card#card_3 a {
  background: #FFC23C;
}
main .secciones .container .container_card#card_4 a {
  background: #e91e63;
}
main .secciones .container .container_card .card {
  position: relative;
  width: 16.5rem;
  height: 22rem;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2), inset -5px -5px 15px rgba(104, 104, 104, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(104, 104, 104, 0.1);
  border-radius: 15px;
  transition: 0.5s;
}
main .secciones .container .container_card .card .box {
  position: absolute;
  top: 1rem;
  left: 1rem;
  right: 1rem;
  bottom: 1rem;
  background: #2a2b2f;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.5s;
}
main .secciones .container .container_card .card .box:hover {
  transform: translateY(-2rem);
}
main .secciones .container .container_card .card .box:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.03);
}
main .secciones .container .container_card .card .box .content {
  padding: 2rem;
  text-align: center;
}
main .secciones .container .container_card .card .box .content h2 {
  position: absolute;
  top: -2rem;
  right: 1.5rem;
  font-size: var(--step-5);
  color: rgba(255, 255, 255, 0.1);
}
main .secciones .container .container_card .card .box .content h3 {
  font-size: var(--step-1);
  color: #fff;
  z-index: 1;
  transition: 0.5s;
  margin-bottom: 0.5rem;
}
main .secciones .container .container_card .card .box .content p {
  font-family: 'Quicksand', sans-serif;
  font-size: var(--step--1);
  font-weight: 300;
  color: rgba(255, 255, 255, 0.9);
  z-index: 1;
  transition: 0.5s;
}
main .secciones .container .container_card .card .box .content a {
  position: relative;
  display: inline-block;
  padding: 0.3rem 1rem;
  background: black;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  margin-top: 1rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}
main .secciones .container .container_card .card .box .content a:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
  background: #fff;
  color: #000;
}
main .secciones .curva-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
main .secciones .curva-1 svg {
  position: relative;
  display: block;
  width: calc(107% + 1.3px);
  height: 75px;
  transform: rotateY(180deg);
}
main .secciones .curva-1 .shape-fill {
  fill: #fbfdfe;
}
main .secciones .curva-1 .shape-fill.darkmode {
  fill: #0c0c0c;
}
main .contacto.darkmode .datos {
  background-image: url("../img/fondos/FONDO_PARALLAX_2.jpg");
}
main .contacto.darkmode .datos .container .blurb h3,
main .contacto.darkmode .datos .container .blurb p,
main .contacto.darkmode .datos .container .blurb a {
  color: black;
}
main .contacto .datos {
  padding: 5.625rem 0 11.875rem 0;
  background-image: url("../img/fondos/FONDO_PARALLAX_1.jpg");
  background-size: cover;
}
main .contacto .datos .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(20, 22, 24, 0.3);
  z-index: 1;
  top: 0;
}
main .contacto .datos .container {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
main .contacto .datos .blurb {
  background: #fff;
  border: 6px double #DFDFDE;
  padding: 2.25rem;
  text-align: center;
  width: 25%;
}
main .contacto .datos h3 {
  font-size: var(--step-0);
  font-weight: 400;
  line-height: 2.6875rem;
  margin-bottom: 1.125rem;
  border-bottom: 1px solid #DFDFDE;
}
main .contacto .datos p {
  font-size: var(--step-0);
  color: #777;
}
/*MEDIA QUERYS*/
@media all and (max-width: 1500px) {
  main .secciones .container {
    flex-wrap: wrap;
  }
  main .secciones .container .container_card {
    padding: 0.75rem;
    margin: 0 auto;
  }
  main .secciones .container .container_card:first-child {
    margin: 0 auto;
  }
}
@media all and (max-width: 980px) {
  main .panaserver .container .container-menu .contenido .boton_apoyo a {
    padding: 0.9rem;
  }
  main .panaserver .container .container-menu .contenido .boton_apoyo a span {
    font-size: 80%;
  }
  main .nosotros .container .col.izq {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #DFDFDE;
    text-align: center;
    display: block;
    padding: 0;
    margin-bottom: 2.25rem;
  }
  main .nosotros .container .col.der {
    width: 100%;
    padding: 0;
    text-align: justify;
  }
  main .contacto .datos .container .blurb {
    width: 100%;
    max-width: 40.625rem;
    margin: 0 auto;
    margin-bottom: 2.25rem;
  }
  main .contacto .datos .container .blurb:last-child {
    margin-bottom: 0;
  }
  main .juegos .container {
    display: block;
  }
  main .juegos .container .col {
    width: 100%;
  }
  main .juegos .container .col.izq {
    width: 100%;
  }
  main .juegos .container .col .titulo-seccion {
    padding: 0;
  }
  main .secciones .container .container_card .card .box .content a {
    padding: 0.5rem 3rem;
  }
}
@media all and (max-width: 800px) {
  .parallax > * {
    animation: none;
  }
  main .panaserver .container .container-menu .contenido .boton_apoyo a {
    padding: 0.9rem;
  }
  main .panaserver .container .container-menu .contenido .boton_apoyo a span {
    font-size: 80%;
  }
  main .juegos .container .col .slider {
    height: 20rem;
  }
  main .juegos .container .col .slider .slide {
    min-height: auto;
  }
}
@media all and (max-width: 580px) {
  .titulo-seccion h2 {
    font-size: 2.5rem;
  }
  main .nosotros .container .col.der .texto p {
    font-size: 1rem;
  }
  main .panaserver .container .container-menu .contenido .item .col.izq {
    width: 100%;
    text-align: center;
    margin-bottom: 0.625rem;
  }
  main .panaserver .container .container-menu .contenido .item .col.der {
    width: 100%;
  }
  main .juegos .container .col .slider {
    height: 15rem;
  }
  main .juegos .container .col .slider .slide {
    min-height: auto;
  }
}
