/*COLORES*/
/*FUENTES*/
/*DARK MODE SWITCH*/
/*ESTILOS*/
.main {
  margin-top: 5.875rem;
}
.main .portada {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../img/fondos/PORTADA_PARALLAX.png');
  background-size: cover;
  background-position: center;
  object-fit: contain;
  width: 100%;
  height: 40vh;
}
.main .portada .logo {
  height: auto;
  width: 50%;
  transition: 0.3s ease;
  position: relative;
  -transition: all 0.3s ease;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main .tarjetas_panas {
  text-align: center;
  margin: 3rem;
}
.main .tarjetas_panas.darkmode .container .box .card {
  background: white;
  box-shadow: 0 2px 10px rgba(20, 20, 20, 0.26);
}
.main .tarjetas_panas.darkmode .container .box .card .imgBox {
  background: white;
}
.main .tarjetas_panas.darkmode .container .box .card:before,
.main .tarjetas_panas.darkmode .container .box .card:after {
  background: white;
}
.main .tarjetas_panas .titulo-seccion {
  margin: 5rem;
}
.main .tarjetas_panas .container {
  position: relative;
  z-index: 2;
}
.main .tarjetas_panas .container .box {
  width: 100%;
  --columnas-panas: 3;
  display: grid;
  gap: 2rem;
  justify-items: center;
  grid-template-columns: repeat(var(--columnas-panas), 1fr);
}
.main .tarjetas_panas .container .box .card {
  position: relative;
  min-width: 10.125rem;
  min-height: 11.25rem;
  width: 18rem;
  height: 20rem;
  background: #212121;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(255, 255, 255, 0.26);
  transition: 0.5s all ease;
}
.main .tarjetas_panas .container .box .card img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3px;
}
.main .tarjetas_panas .container .box .card .imgBox {
  position: absolute;
  top: 1rem;
  left: 1rem;
  bottom: 1rem;
  right: 1rem;
  background: #212121;
  transition: 0.5s;
  z-index: 1;
}
.main .tarjetas_panas .container .box .card:before,
.main .tarjetas_panas .container .box .card:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 90%;
  border-radius: 4px;
  background: #212121;
  transition: 0.5s;
  z-index: -1;
}
.main .tarjetas_panas .container .box .card:hover:before {
  transform: rotate(20deg);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
}
.main .tarjetas_panas .container .box .card:hover:after {
  transform: rotate(10deg);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
}
.main .tarjetas_panas .container .box .card:hover .imgBox {
  bottom: 70px;
}
.main .tarjetas_panas .container .box .card .details {
  position: absolute;
  left: 1rem;
  right: 1rem;
  bottom: 1rem;
  height: rem;
  text-align: center;
}
.main .tarjetas_panas .container .box .card .details h2 {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  color: #777;
  text-transform: uppercase;
}
.main .tarjetas_panas .container .box .card .details h2 span {
  font-weight: 500;
  font-size: 0.9rem;
  color: #f38695;
  display: block;
}
@media all and (max-width: 1250px) {
  .main .tarjetas_panas .container .box {
    --columnas-panas: 2;
  }
}
@media all and (max-width: 950px) {
  .main .tarjetas_panas .container .box {
    --columnas-panas: 1;
  }
  .main .portada {
    height: 30vh;
  }
  .main .portada .logo {
    width: 80%;
  }
  .main .tarjetas_panas .container .box .card {
    width: 28.8rem;
    height: 32rem;
  }
}
@media all and (max-width: 800px) {
  .main .intro .container .video iframe {
    height: 22.5rem;
    width: 40rem;
  }
}
@media all and (max-width: 700px) {
  .main .tarjetas_panas .container .box .card {
    width: 22.5rem;
    height: 25rem;
  }
}
@media all and (max-width: 560px) {
  .main .tarjetas_panas .container .box .card {
    width: 12.5rem;
    height: auto;
  }
}
@media all and (max-width: 500px) {
  .main .portada img {
    height: 10rem;
    width: auto;
  }
}
