/*COLORES*/
@negro-custom: #141618;	
@blanco: #fff;
@texto-oscuro : #303133;
@texto-claro : #777;
@rojo: darkred;
@gris-claro: #DFDFDE;

/*FUENTES*/
@fuente-principal: 'Nunito', sans-serif;
@fuente-secundaria: 'Quicksand', sans-serif;
@fuente-parrafo: 'Nunito', sans-serif;
@fuente-titulo: 'PT Sans', serif;

@portada: '../img/fondos/PORTADA_PARALLAX.png';
/*DARK MODE SWITCH*/
@light: #d8dbe0;
@dark: #28292c;


/*ESTILOS*/

.main{
    margin-top: 5.875rem;
    .portada{
		background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(@portada);
        background-size: cover;
        background-position: center;
        object-fit: contain;
        width: 100%;
        height: 40vh;
        .logo{
            height: auto;
            width: 50%;
            transition: .3s ease;

            position: relative;
            -transition: all .3s ease;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .tarjetas{
		text-align: center;
        margin: 5.875rem 0;
		&.darkmode{
			.container .box{
				.card{
					background: white;
					box-shadow:0 2px 10px rgba(20, 20, 20, 0.26);
					.imgBox{
						background: white;
					}
				}
				.card:before,
                .card:after{
					background: white;
				}
			}
		}
        .titulo-seccion{
            margin: 5rem;
        }
        .container{
            position: relative;
            z-index: 2;
            
            .box{
                width: 100%;
                --columnas-panas: 3;
                display: grid;
                gap: 2rem;
                justify-items: center;
                grid-template-columns: 
                    repeat(var(--columnas-panas), 1fr);
                
                .card{
                    position: relative;
                    min-width: 10.125rem;
                    min-height: 11.25rem;
                    width: 18rem;
                    height: 20rem;
                    background: #212121;
                    border-radius: 4px;
                    box-shadow:0 2px 10px rgba(255, 255, 255, 0.26);
					transition: .5s all ease;
                    img{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
						border-radius: 3px;
                    }
                    .imgBox{
                        position: absolute;
                        top: 1rem;
                        left: 1rem;
                        bottom: 1rem;
                        right: 1rem;
                        background: #212121;
                        transition: 0.5s;
                        z-index: 1;
                    }
                }
                .card:before,
                .card:after
                {
                    content:"";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 90%;
                    height: 90%;
                    border-radius: 4px;
                    background: #212121;
                    transition: 0.5s;
                    z-index:-1;
                }
                .card:hover:before{
                    transform: rotate(20deg);
                    box-shadow: 0 2px 20px rgba(0,0,0,.2);
                }
                .card:hover:after{
                    transform: rotate(10deg);
                    box-shadow: 0 2px 20px rgba(0,0,0,.2);
                }

                .card:hover .imgBox{
                    bottom: 70px;
                }
                
                .card .details{
                    position: absolute;
                    left: 1rem;
                    right: 1rem;
                    bottom: 1rem;
                    height: rem;
                    text-align: center;
                    h2{
                        margin: 0;
                        padding: 0;
                        font-size: 1rem;
                        color: #777;
                        text-transform: uppercase;
                        span{
                            font-weight: 500;
                            font-size: 0.9rem;
                            color: #f38695;
                            display: block;
                        }
                    }
                }

            }
           
        }
        
    }
}

@media all and (max-width: 1250px){

    .main .tarjetas .container .box{
        --columnas-panas: 2;
    }
}

@media all and (max-width: 950px){

    .main .tarjetas .container .box{
        --columnas-panas: 1;
    }

    .main {
		.portada{
            height: 30vh;
            .logo{
                width: 75%;
            }
		}
		.tarjetas .container .box .card{
			width: 28.8rem;
			height: 32rem;
		}
	}
	
}

@media all and (max-width: 800px){

	.main .intro .container .video iframe{
		height: 22.5rem;
		width: 40rem;
	}
	
}

@media all and (max-width: 700px){

    .main .tarjetas .container .box .card{
        width: 22.5rem;
        height: 25rem;
    }
}

@media all and (max-width: 560px){

    .main .tarjetas .container .box .card{
        width: 12.5rem;
        height: auto;
    }
	
}

@media all and (max-width: 500px){
    .main .portada{
        img{
            height: 10rem;
            width: auto;
        }
    }
	
}