
# Optional npm cache directory
.npm

# Gatsby files
.cache/

# Serverless directories
.serverless/

# TernJS port file
.tern-port

# Stores VSCode versions used for testing VSCode extensions
.vscode-test
.vscode

prepros.config
CNAME
pruebas.html

css/discord.less
css/index.less
css/panas.less


